/*

From https://github.com/mugi111/react-github-repos

*/

.github-repos-item {
  padding: 16px;
}

.github-repos-desc {
  flex: 1 0 auto;
  display: block;
  font-size: 12px;
  margin-top: 8px;
  color: #586069;
  margin-bottom: 10px;
}

.github-repos-box {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  width: 100%;
}

.github-repos-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.github-repos-language-p {
  color: #586069;
  font-size: 12px;
  margin-bottom: 0px;
}

.github-repos-ol {
  display: flex;
  list-style: none;
  margin-bottom: 24px;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.github-repos-li {
  display: flex;
  margin-bottom: 16px;
  align-content: stretch;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
}

@media (max-width: 768px) {
  .github-repos-li {
    width: 100%;
  }
}

.link {
  color: #586069;
  text-decoration: none;
}

.link:hover {
  color: #0366d6;
}

.github-repos-language-span {
  display: inline-block;
  margin-right: 16px;
}

.github-repos-langage-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.react-github-repos-text {
  color: #0366d6;
  text-decoration: none;
  min-width: 0;
  font-weight: 600;
  cursor: pointer;
}

